<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>Sound Pi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sound Pi">
    <link href="/assets/app.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">

      <header class="jumbotron subhead" id="overview">
      <div class="row-fluid">
        <div class="span6">
          <h1>Sound Pi</h1>
          <p class="lead">Raspberry Pi sound system.</p>
        </div>
        <div class="span6">
          <h6>Now Playing:</h6>
          <ul class="queue">

          </ul>
          <div class="btn-group">
            <a id="prev" href="#"class="btn"><i class="icon-white icon-backward"> </i> </a>
            <a id="play" href="#"class="btn"><i class="icon-white icon-play"> </i> </a>
            <a id="stop" href="#"class="btn"><i class="icon-white icon-stop"> </i> </a>
            <a id="next" href="#"class="btn"><i class="icon-white icon-forward"> </i> </a>
          </div>
        </div>
      </div>
      <div class="subnav">
        <ul class="nav nav-pills">
          <li><a href="/">Songs</a></li>
          <li><a href="#">Playlists</a></li>
          <li><a href="#">New Playlist</a></li>
        </ul>
      </div>
      </header>



      <div class="row-fluid">

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="song_list">
          <thead>
            <tr>
              <th>Name</th>
              <th>Artist</th>
              <th>Album</th>
              <th>#</th>
              <th>Genre</th>
            </tr>
          </thead>
          <tbody>
            <% @songs.each do |song| %>
              <tr>
                <td><a class="enqueue" href="<%= song.id %>"><%= song.name %> <i class="pull-right icon-plus"></i></a></td>
                <td><a href="/artists/<%= song.album.artist.id%>"><%= song.album.artist.name %></a></td>
                <td><a href="/albums/<%= song.album.id%>"><%= song.album.name %></a></td>
                <td><%= song.tracknum %></td>
                <td><%= song.genre %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

    <script src="/assets/app.js"></script>
    <script>
      $(document).ready(function(){
        $('#song_list').dataTable({
          "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
          "aaSorting": [[ 1, "asc" ],[ 2, "asc" ],[ 3, "asc" ]],
          "iDisplayLength": 25
        });
      });
    </script>
  </body>
</html>
